f<html>
<head>
    <link rel="stylesheet" href="/views/login2.css">
</head>
<body>
    <form action="/user" method="post">
        <h2><font color = "#fff">Login</font></h2>
        <div class="input-field">
            <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
        <input type="submit" value="LOGIN">
        <button type="button">
            <a href="auth/facebook" style="text-decoration: none; color:aliceblue;">Sign in with facebook</a>
        </button>
    </form>




</body>



</html>
